html {
    text-align: center;
  
    position: absolute;
    left: 0%;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button{
    font-size: medium;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    background-color: skyblue;
    width: 80px
  }