<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateProfile()" [disabled]="!user">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="user; else loadingOrError">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="user.nombre" type="text" name="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="user.email" type="email" name="email" [disabled]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Grado</ion-label>
        <ion-input [(ngModel)]="user.grado" type="text" name="grado"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Materias que domino (separadas por coma)</ion-label>
        <ion-input [(ngModel)]="materiasQueDominoString" type="text" name="materiasQueDomino"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Materias que necesito (separadas por coma)</ion-label>
        <ion-input [(ngModel)]="materiasQueNecesitoString" type="text" name="materiasQueNecesito"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Disponibilidad (ej: Lunes tarde, Martes mañana)</ion-label>
        <ion-input [(ngModel)]="disponibilidadString" type="text" name="disponibilidad"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #loadingOrError>
    <div style="text-align: center; padding: 20px;">
      <p>Cargando perfil...</p>
    </div>
  </ng-template>

</ion-content>