button{
    font-size: medium;
    border: 4px solid black;
    border-radius: 4px;
    padding: 4px;
    background-color: skyblue;
}

html {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
