<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div>
      <h1>Bienvenido nuevamente a *NombreSuperÉpico*</h1>
      <p>Inicia sesión para seguir aprendiendo...</p>
    </div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <div class="mb-6">
        <label for="email" class="">Correo Electrónico</label>
        <input type="email" id="email" name="email" ngModel class="" placeholder="pepitogameplays@gmail.com" required #email="ngModel" />
        <div *ngIf="email.invalid && email.touched" style="color: red;">Ingrese un correo valido</div>
      </div>

      <div class="mb-6">
        <label for="password" class="">Contraseña</label>
        <input type="password" id="password" name="password" ngModel class="" placeholder="•••••••" required #password="ngModel" />
      </div>

      <button type="submit" class="" [disabled]="loginForm.invalid">
        Login
      </button>

    </form>

    <button (click)="goreset()" class="">
      go to reset
    </button>

    <button (click)="gosign()" class="">
      go to sign-up
    </button>

  </ion-content>
</ion-content>

