<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Tutores</title>
</head>
<body>
    <header>
        <h1>Buscar Tutores</h1>
    </header>
    
    <main>
        <section id="search-section">
            <input type="text" id="search-materia" placeholder="Buscar por materia">
            <input type="text" id="search-grado" placeholder="Buscar por grado">
            <button id="search-button">Buscar</button>
        </section>
        
        <section id="tutors-list">
            <!-- Aquí se mostrarán los tutores disponibles -->
        </section>
        <button (click)="logout()" class="">
            Logout
        </button>
    </main>
</body>
</html>